<footer style="background-color: #39C99C" class="visible-xs visible-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h5 class="text-center"><strong>Copyright &copy; 2017 PEMERINTAH KABUPATEN PEKALONGAN</strong></h5>
			</div>
		</div>
	</div>
</footer>