<header class="visible-xs visible-sm" style="background-color: #39C99C;border-bottom: 0.5px solid rgba(0,0,0,0.4);z-index: 100000">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<center>
					<div style="height: 100px;background-color: ;display: table">
						<div style="display: table-row;">
							<div style="display: table-cell;vertical-align: middle;">
								<img src="/images/template/Logo Kab Pekalongan.png" class="img-responsive" style="height: 80px;">
							</div>

							<div style="display: table-cell;vertical-align: middle;padding-left: 10px;">
								<h5 class="m-t-0 m-b-0"><strong>PEMERINTAH KABUPATEN PEKALONGAN</strong></h5>
								<h6 class="m-t-5 m-b-0"><strong>SISTEM INFORMASI RTRW KABUPATEN PEKALONGAN</strong></h6>
							</div>
						</div>
					</div>
				</center>
			</div>
		</div>
	</div>
</header>

<nav class="navbar navbar-inverse visible-xs visible-sm" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFIL <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                    	<li><a href="/profil/profil_kecamatan">PROFIL KECAMATAN</a></li>
                    	<li><a href="/profil/profil_desa">PROFIL DESA</a></li>
                    	<li><a href="/profil/profil_jenis_tanah">JENIS TANAH</a></li>
                    	<li><a href="/profil/profil_kelerengan">KELERENGAN</a></li>
                    	<li><a href="/profil/profil_kesesuaian_lahan">KESESUAIAN LAHAN</a></li>
                    	<li><a href="/profil/profil_morfologi_wilayah">MORFOLOGI WILAYAH</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/tujuan_strategi">TUJUAN & STRATEGI</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">STRUKTUR RUANG <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                    	<li><a href="/struktur_ruang/sistem_pusat_kegiatan">SISTEM PUSAT KEGIATAN</a></li>
                        <li><a href="/struktur_ruang/sistem_jaringan_prasarana">SISTEM JARINGAN PRASARANA</a></li>
                    </ul>
                </li>
                <li><a href="/pola_ruang">POLA RUANG</a></li>
                <li><a href="/kawasan_strategis">KAWASAN STRATEGIS</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ARAHAN PENGENDALIAN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/arahan_pengendalian/perizinan">PERIZINAN</a></li>
                        <li><a href="/arahan_pengendalian/insentif_disinsentif">INSENTIF & DISINSENTIF</a></li>
                        <li><a href="/arahan_pengendalian/sanksi">SANKSI</a></li>
                    </ul>
                </li>
                <li><a href="/indikasi_program">INDIKASI PROGRAM</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>